@model IEnumerable<WasteDisposalManagement.Models.Card>
@{
    ViewData["Title"] = "Cards";
    Layout = "_AdminDashboard";
}


<h1>Cards</h1>
<div class="dashboard">
    <section id="main">
        <div class="board">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <td>USER EMAIL</td>
                        <td>CARD NUMBER</td>
                        <td>EXPIRY DATE</td>
                        <td>CVV</td>
                        <td>PIN</td>
                        <td>CARD BALANCE</td>
                        <td>CARD STATUS</td>

                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @foreach (var card in Model)
                        {
                            <tr>
                                <td class="users">
                                    <p>@card.User.Email</p>
                                </td>

                                <td class="">
                                    <p>@card.CardNumber</p>
                                </td>

                                <td class="title">
                                    <p>@card.Expiry</p>
                                </td>

                                <td class="status">
                                    <p>@card.Cvv</p>
                                </td>

                                <td class="role">
                                    <p>@card.Pin</p>
                                </td>

                                <td class="role">
                                    <p>₦@card.CardBalance</p>
                                </td>

                                <td class="edit">
                                    <p>Active</p>
                                </td>

                                <td class="edit">
                                    <a asp-controller="Cards" asp-action="Edit" asp-route-id="@card.Id">Edit</a>
                                </td>
                                <td class="delete">
                                    <a asp-controller="Cards" asp-action="Delete" asp-route-id="@card.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td></td><p>YOU HAVE NO CARD AVAILABLE</p><td></td></tr>
                }
                
            </table>
        </div>
    </section>
</div>
