@model IEnumerable<WasteDisposalManagement.Models.FirstTimeOrder>
@{
    ViewData["Title"] = "First Time Orders";
    Layout = "_Dashboard";
}


<h1 style="margin-bottom:-10px">First Time Orders</h1>
<div class="dashboard">
    <section id="main">
        <div class="board">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <td>ORDER ID</td>
                        <td>SERVICE NAME</td>
                        <td>PAYMENT STATUS</td>
                        <td>ORDER STATUS</td>
                        <td>REFERENCE NO</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td class="users">
                                <p>@order.OrderId</p>
                            </td>

                            <td class="title">
                                <p>@order.ServiceId</p>
                            </td>

                            <td class="status">
                                <p>@order.PaymentStatus</p>
                            </td>

                            <td class="role">
                                <p>@order.ReferenceNo</p>
                            </td>

                            <td class="role">
                                <p>@order.StartDate</p>
                            </td>

                            <td class="edit">
                                <a href="#">Edit</a>
                            </td>
                            <td class="delete">
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
