@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> customUserManager
@{
    ViewBag.Title = "My Profile";
    Layout = "_Dashboard";
}

@{
    var userid = customUserManager.GetUserId(User);
    var user = await customUserManager.FindByIdAsync(userid);
}

<section class="user-profile">

    <div class="profile-details-card">
        @if(user.ProfilePicture != null)
        {
            <img class="profile-picture" src="@user.ProfilePicture" alt="user profile image">
        }
        else
        {
            <img class="profile-picture" src="~/images/dummy-profile-pic.jpg" alt="user profile image">
        }

        <br>
        <h4>Profile Information</h4><hr>
        <div class="profile-details">
            <p><label for="fullname">Full Name:</label> @user.FirstName @user.LastName</p>
            <p><label for="email">Email:</label> @user.Email</p>
            <p><label for="email">Phone No:</label> @user.PhoneNumber</p>
            <p><label for="email">Address:</label> @user.Address</p>
            <p><label for="email">City:</label> @user.City</p>
            <p><label for="email">State:</label> @user.State</p>
        </div><br>
    </div>


    <div class="profile-update">
        <div class="update-guide">
            <h4>Update your profile.</h4>
        </div>

        <form asp-controller="User" asp-action="UpdateProfile" enctype="multipart/form-data">

            <input asp-for="@user.FirstName" id="fname"><br>

            <input asp-for="@user.LastName" id="lname"><br>

            <input asp-for="@user.PhoneNumber" id="phone-no"><br>

            <input asp-for="@user.Address" id="address"><br>

            <select asp-for="@user.City" id="city">
                <option value="Igando">Igando</option>
                <option value="Ikotun">Ikotun</option>
                <option value="Abaranje">Abaranje</option>
            </select><br>

            <select asp-for="@user.State" id="state" disabled="disabled">
                <option value="">Lagos</option>
            </select><br>

            <div class="profile-image">
                <input id="profile-image" type="file" accept=".png, .jpg, .jpeg" src="@user.ProfilePicture." alt="profile image">
               <span asp-validation-for="@user.ProfilePicture"></span>
            </div>

            <input type="submit" value="Update Profile" id="update-btn" name="update-btn">
        </form>
    </div>
</section>