@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> customUserManager

@{
    Layout = "_Base";
    ViewBag.Title = "User Dashboard";
    var userid = customUserManager.GetUserId(User);
    var user = await customUserManager.FindByIdAsync(userid);
}

<!--dashboard container-->
<div class="dashboard">
    <section id="sidebar" class="initial-active hide">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/interswitch_logo.svg" alt="dashboard logo"></a>
        </div>

        <div class="items">
           <ul>
                <li>
                    <i class="fas fa-cart-plus"></i>
                    <a asp-controller="User" asp-action="Orders">My Orders</a>
                </li>
                <li>
                    <i class="fas fa-cart-plus"></i>
                    <a asp-controller="User" asp-action="FirstTimeOrders">First Order</a>
                </li>
                <li>
                    <i class="fas fa-cart-plus"></i>
                    <a asp-controller="User" asp-action="Cards">My Cards</a>
                </li>
           </ul>
        </div>
    </section>

    <section id="main">
        <div class="navigation">
            <div class="row">
                <div class="menu-btn">
                    <i id="menu-btn" class="fas fa-bars"></i>
                </div>

                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="search" name="" id="" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="far fa-bell"></i>
                
                @if(user.ProfilePicture != null)
                {
                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">@user.FirstName @user.LastName </a>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index"><img src="@user.ProfilePicture" alt="user profile image"></a>
                }
                else
                {
                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">@user.FirstName @user.LastName </a>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index"><img src="~/images/ray fisher.jpg" alt="user profile image"></a>
                }
            </div>
        </div>

        <h3 class="i-name">My Dashboard</h3>
        <div class="cards">

            <div class="card">
                <i class="fas fa-cart-plus"></i>
                <div class="content">
                    <h3>0</h3>
                    <span>Orders</span>
                </div>
            </div>

            <div class="card">
                <i class="fas fa-check-circle"></i>
                <div class="content">
                    <h3>0</h3>
                    <span>Active orders</span>
                </div>
            </div>

            <div class="card">
                <i class="fas fa-users"></i>
                <div class="content">
                    <h3>0</h3>
                    <span>Pending orders</span>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script>
    // admin dashboard menu bar selection.
    const menuButton = document.getElementsByClassName("menu-btn")[0];
    const sideBar = document.getElementById('sidebar');

    menuButton.addEventListener('click', () => {
        document.getElementById('main').style = "margin-left: calc(100%-170px)";
        sideBar.classList.toggle('hide');
    });
</script>

@await RenderSectionAsync("Scripts", required: false)