@model WasteDisposalManagement.ViewModels.PaymentModel
@*@model ViewModel*@
@*@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> customUserManager


@{
    var userid = customUserManager.GetUserId(User);
    var user = await customUserManager.FindByIdAsync(userid);
}*@

@{
    Layout = "_Base";
}


<div class="email-label">@ViewBag.message</div>
<div class="order-container">
    <div class="head">
        <img src="~/images/interswitch_logo.svg" alt="an image here" srcset="">
        <div class="order-data">
            <p>@Model.Id</p>
        </div>
    </div>
    <hr>
    <div class="surchage">
        <p>₦ @Model.Price</p>
        <p>surcharge ₦00.00</p>
    </div>

    <form asp-controller="Order" asp-action="Detail" method="post" enctype="multipart/form-data">
        <input asp-for="@Model.Id" hidden>

        <input asp-for="@Model.Price" hidden>

        <input asp-for="@Model.DurationInDays" hidden>

        <input asp-for="@Model.CardNumber" id="card-number" placeholder="Card Number">
        <span></span><br>
        

        <input asp-for="@Model.Expiry" id="expiry-date" placeholder="Expiry date (MM / YY)">
        <span></span><br>

        <input asp-for="@Model.Cvv" id="cvv" placeholder="CVV">
        <span></span><br>

        <input asp-for="@Model.Pin" id="pin" placeholder="PIN">
        <span></span><br>

        <input type="submit" id="payment-btn" value="Make Payment"><br>
    </form>
</div>
