@model IEnumerable<Service>

@{
    Layout = "_Base";
}

@{
    ViewBag.Title = "Our Services";
}


<h1>Our Services</h1>
@foreach(var item in Model)
{

    <div class="service-order-cards">
        @if (item.Name == "First Time Subscriber")
        {
            <div class="service-card">
                <h4>Service Type: @item.Name</h4>
                <p>Service Price: @item.Price</p>
                <p>Service Duration(Days): @item.DurationInDays</p>
                <a asp-controller="Order" asp-action="Detail" asp-route-id="@item.ServiceId">Select Service</a>&nbsp;
            </div>
        }

        else if (item.Name == "Residential")
        {
            <div class="service-card">
                <h4>Service Type: @item.Name</h4>
                <p>Service Price: @item.Price</p>
                <p>Service Duration(Days): @item.DurationInDays</p>
                <a asp-controller="Order" asp-action="Detail" asp-route-id="@item.ServiceId">Select Service</a>&nbsp;
            </div>
        }
    </div>
}
